# Hidden files
/.*
!.github

# Python
*.egg-info
__pycache__

# Local documentation
docs/

# OW version
src/ow/_version.py

# OW working directories
.bare-git-repos/
mise.toml
mise.local.toml
ow.toml
services/*
templates/*
workspaces/*
