.bare-git-repos/
.claude/
services/volumes/
services/compose.local.yml
workspaces/*
mise.local.toml
ow.toml
.ow.toml.archived-workspaces
templates/*
!templates/common
!templates/common/**
!templates/vscode
!templates/vscode/**
!templates/zed
!templates/zed/**
!templates/bwrap
!templates/bwrap/**
*.egg-info
.pytest_cache
__pycache__
