{
  "venvPath": ".",
  "venv": ".venv",
  "pythonVersion": {{ vars.python | default('3.12') | tojson }},
  "extraPaths": ["./{{ main_repo_alias }}"],
  "reportArgumentType": "none",
  "reportAttributeAccessIssue": "none",
  "reportMissingImports": "none",
  "reportMissingModuleSource": "none",
  "reportPrivateLocalImportUsage": "none",
  "typeCheckingMode": "off"
}
