{
  "file_scan_inclusions": [{% for alias in repos %}"{{ alias }}/**", {% endfor %}"mise.toml"{% if main_repo_alias %}, "odools.toml", "pyrightconfig.json"{% endif %}],
  "file_scan_exclusions": ["**/.git", "**/.svn", "**/.hg", "**/.jj", "**/CVS", "**/.DS_Store", "**/Thumbs.db", "**/.classpath", "**/.settings", "**/*.po", "**/*.pot", "**/node_modules", "**/.venv"],
{% if main_repo_alias %}
  "lsp": {
    "odoo": {
      "settings": {
        "Odoo.selectedProfile": "[Odoo Workspace] {{ ws_name }}",
      },
    },
  },
{% endif %}
}
