{
  "venvPath": ".",
  "venv": ".venv",
  "pythonVersion": "3.12",
  "extraPaths": [{% if main_repo_alias %}"./{{ main_repo_alias }}"{% endif %}],
  "reportArgumentType": "none",
  "reportAttributeAccessIssue": "none",
  "reportMissingImports": "none",
  "reportMissingModuleSource": "none",
  "reportPrivateLocalImportUsage": "none",
  "typeCheckingMode": "off"
}
