[options]
http_port = {{ vars.http_port | default(8069) }}
addons_path = {{ addons_paths | join(',') }}
admin_passwd = {{ vars.admin_passwd | default() }}
db_name = {{ ws_name }}
dbfilter = ^{{ ws_name }}$
db_host = {{ vars.db_host | default("localhost") }}
db_port = {{ vars.db_port | default(5432) }}
db_user = {{ vars.db_user | default("odoo") }}
db_password = {{ vars.db_password | default("odoo") }}
smtp_server = {{ vars.smtp_server | default("localhost") }}
smtp_port = {{ vars.smtp_port | default(25) }}
