{
  "venvPath": ".",
  "venv": ".venv",
  "pythonVersion": "3.12",
  "extraPaths": ["./{{ main_repo_alias }}"],
  "reportArgumentType": "none",
  "reportAttributeAccessIssue": "none",
  "reportMissingImports": "none",
  "reportMissingModuleSource": "none",
  "reportPrivateLocalImportUsage": "none",
  "typeCheckingMode": "off"
}
