// Project-local debug tasks
//
// For more documentation on how to configure debug tasks,
// see: https://zed.dev/docs/debugger
[
  {
    "label": "Run Instance With Debug",
    "adapter": "Debugpy",
    "request": "launch",
    "console": "integratedTerminal",
    "cwd": "${ZED_WORKTREE_ROOT}/{{ main_repo_alias }}",
    "program": "odoo-bin",
    "justMyCode": false,
    "args": ["--dev=all"],
    "python": "${ZED_WORKTREE_ROOT}/.venv/bin/python",
    "pythonArgs": ["-Xfrozen_modules=off"],
    "env": {
      "ODOO_RC": "${ZED_WORKTREE_ROOT}/odoorc",
      "PYDEVD_DISABLE_FILE_VALIDATION": "1",
      "PYTHONPATH": "${ZED_WORKTREE_ROOT}/{{ main_repo_alias }}",
    },
  },
  {
    "label": "Debug Tests With Tags: {{ vars.test_tags | default('CHANGE_ME_OR_USE_vars.test_tags') }}",
    "adapter": "Debugpy",
    "request": "launch",
    "console": "integratedTerminal",
    "cwd": "${ZED_WORKTREE_ROOT}/{{ main_repo_alias }}",
    "program": "odoo-bin",
    "justMyCode": false,
    "args": ["--test-tags={{ vars.test_tags | default('CHANGE_ME_OR_USE_vars.test_tags') }}"],
    "python": "${ZED_WORKTREE_ROOT}/.venv/bin/python",
    "pythonArgs": ["-Xfrozen_modules=off"],
    "env": {
      "ODOO_RC": "${ZED_WORKTREE_ROOT}/odoorc",
      "PYDEVD_DISABLE_FILE_VALIDATION": "1",
      "PYTHONPATH": "${ZED_WORKTREE_ROOT}/{{ main_repo_alias }}",
    },
  },
]
